*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Finlandica', sans-serif;
    position:relative;
    }

html{
    font-size: medium;
}




header{
    background: linear-gradient(to bottom, rgba(34, 28, 24, 0.8) 0%, rgba(7, 6, 6, 0.1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}


.logo{  
    width: 180px;
    height: 180px;

}

/*--------------------Inicio-----------------------*/

@media (max-width:767px) {

.imagenconstruccion{
display:none;
}
}


@media (min-width:768px) {
.imagenconstruccionmovil{
    display:none ;
}
}
