*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Finlandica', sans-serif;
    position:relative;
    }

html{
    font-size: medium;
}

#container-grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: .75fr .5fr 1fr .5fr .2fr auto;

    grid-template-areas: 
    "main"
    "nuestrosServicios"
    "nuestrosProductos"
    "formulario"
    "redes"
}



header{
    background: linear-gradient(to bottom, rgba(34, 28, 24, 0.8) 0%, rgba(7, 6, 6, 0.1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.headerflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo{  
    width: 180px;
    height: 180px;

}

.link-navegacion{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: large;
    gap:20px;
   
}

.link-navegacion li{
    list-style: none;
}

.link-navegacion li a{
    text-decoration: none;
    color: #fff;
    transition: all .5;
    display: inline-block;
    transition: all 0.4s linear;
    border-radius: 20px;
    
}

.link-navegacion li a:hover {
background: #6eaf28;
letter-spacing: 1px;
}


/*--------------------InicioNosotros-----------------------*/

.mainGrid{
    flex-wrap: wrap;    
    display: flex;
    grid-area: main;
    background-image: url(../imagen/FONDOXLARGE.jpeg);
    background-size: cover;
    justify-content: center;
    align-content: center;
}

.titulonosotros{
    color: rgb(0, 0, 0) ; 
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    flex-wrap: wrap;
}


.cardnosotros p{
    text-align: center;
    color:rgb(0, 0, 0);
    margin-top: 0px;
    font-size: xx-large;
    flex-wrap: wrap;
}


/*--------------------InicioServicios-------------------------*/
.serviciosGrid{
    grid-area: nuestrosServicios;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "serviciologistica servicioenvios"
    "servicioasesor servicioespecialistas";
    margin-top: 10%;
    margin-bottom: 10%;


}

.serviciosGrid div{
    justify-content: center;
    text-align: center;

}

.serviciosGrid div p{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    flex-wrap: wrap;

}

.serviciosGrid div article{
    text-align: center;
    font-size: medium;
    font-weight: lighter;
    flex-wrap: wrap;

}


.serviciologistica{
    grid-area: serviciologistica;
    flex-wrap: wrap;
}

.servicioenvios{
    grid-area: servicioenvios;
}

.servicioasesor{
    grid-area: servicioasesor;
}

.servicioespecialistas{
    grid-area: servicioespecialistas;
}

.imagenlogistica{
    height: 150px;
    width: 150px;
}

.imagenenvios{
    height: 150px;
    width: 150px;
}

.imagenasesor{
    height: 150px;
    width: 150px;
}

.imagenespecialistas{
    height: 150px;
    width: 150px;
}
/*--------------------InicioProductos-------------------------*/


.tituloproductos p{
    font-size: xx-large;
    font-weight: bold;
    color: #40611D;
    text-align: center;
    margin-bottom: 50px;
    text-decoration: underline;
}


.productosGrid{
    grid-area: nuestrosProductos;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3 1fr);
    grid-template-areas: 
    "producto1 producto2 producto3"
    "producto4 producto5 producto6";
}


.productosGrid div p{
    
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
}

.productosGrid div{
    text-align: center;
}


.imagenproductos1 {
    grid-area: producto1;
    width: 250px;
    height: 250px;  
    border: solid 1px #40611D;

}

.imagenproductos2 {
    grid-area: producto2;
    width: 250px;
    height: 250px;    
    border: solid 1px #40611D;
}

.imagenproductos3 {
    grid-area: producto3;
    width: 250px;
    height: 250px;    
    border: solid 1px #40611D;
}

.imagenproductos4 {
    grid-area: producto4;
    width: 250px;
    height: 250px;   
    border: solid 1px #40611D;
}

.imagenproductos5 {
    grid-area: producto5;
    width: 250px;
    height: 250px;  
    border: solid 1px #40611D;
}

.imagenproductos6 {
    grid-area: producto6;
    width: 250px;
    height: 250px;    
    border: solid 1px #40611D;
}
/*----------------- inicioFormulario--------------------------*/

.formulario {
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
    background: #629728;   
}


.formulario form{
   justify-content: center;
   margin-top: 20px;
   margin-bottom: 20px;

}

.formulario__botonsubmit{
    background-color: #C1FA84;
    font-weight: bold; 
}

.formulario div{
    font-weight: bold;
    font-size: x-large;
    
}

/*----------------------INICIOREDES-------------------------*/


.redesGrid{
    grid-area: redes;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "redesinstagram redesfacebook redeswhatsapp";
    align-items: center;
    margin-top: 10px;
}


.redesinstagram{
    grid-area: redesinstagram;
}

.redesfacebook{
     grid-area: redesfacebook;
}

.redeswhatsapp{
    grid-area: redeswhatsapp;
}

.redesGrid nav{
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    font-size: large;
    text-align: center;
    align-items: center;
}

.redesGrid nav a{
    text-decoration: none;
    color: #40611D; 
    font-weight: bold;
    transition: all .5;
    display: inline-block;
    transition: all 0.4s linear;
    border-radius: 20px;
}


.redesGrid nav a:hover {
background: #C1FA84;
letter-spacing: 1px;
}

.imageninstagram{
    width: 150px;
    height: 150px;
    
}

.imagenfacebook{
    width: 150px;
    height: 150px;
}

.imagenwhatsapp{
    width: 150px;
    height: 150px;
}


/*----------------------NUESTRA HISTORIA----------------------*/

.nuestrahistoria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nuestrahistoriaarticle nuestrahistoriaimagen";
    margin-top: 190px;
    align-items: center;

}


.nuestrahistoria article{
    font-size: medium;
    text-align: center;
    line-height: 40px;
}

.nuestrahistoria__imagen--imagen{
        width: 550px;
        height: 425px;  
        border: solid 2px #40611D;
    }

.nuestrahistoria__article{
    grid-area: nuestrahistoriaarticle;
}

.nuestrahistoria__imagen{
    grid-area:nuestrahistoriaimagen;
}
/*----------------------PRODUCTOS-------------------------*/


.productosGridpage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    background-image: url(../imagen/caju\ fondo\ de\ productos.jpeg);
    background-size: cover;

}

.productosGrid1{
    margin-top: 180px;
}

.productosGrid2{
    margin-top: 180px;
}

.productosGrid3{
    margin-top: 180px;
}

.productosGrid4{
    margin-top: 180px;
}

.productos-lista li{
    text-align: center;
    padding: 5px 10px 10px 5px;
    font-size: medium;
    font-weight: bold;
    list-style: none;
}

.productosGrid1 h2{
    color: rgb(7, 7, 7);
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.productosGrid2 h2{
    color: rgb(7, 7, 7);
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.productosGrid3 h2{
    color: rgb(7, 7, 7);
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.productosGrid4 h2{
    color: rgb(7, 7, 7);
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.productosGrid4 p {
    color: rgb(7, 7, 7);
    font-weight: bold;
    text-align: center;
    font-size: x-large; 
    margin-top: 30px;
    text-decoration: underline;

}

    /*---------------------------CONTACTO--------------------------*/


.containerGridContacto{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr .5fr;

}
    
    h3{
        color: #ffff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: xx-large;
        margin-bottom: 30px;
    }


    .formularioContacto {
        display: flex;
        justify-content: center;
        text-align: center;
        letter-spacing: 1px;
        background: #629728;   
    }
    
    
    .formularioContacto form{
       justify-content: center;
       margin-top: 200px;
       margin-bottom: 20px;

    }
    
    .formulario__botonsubmit{
        background-color: #C1FA84;
        font-weight: bold; 
    }
    
    .formularioContacto div{
        font-weight: bold;
        font-size: x-large;
        
    }

    .redesContacto{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "redesinstagram redesfacebook redeswhatsapp";
        align-items: center;
    
    
    }
    
    .redesinstagramcontacto{
        grid-area: redesinstagram;
    }
    
    .redesfacebookcontacto{
         grid-area: redesfacebook;
    }
    
    .redeswhatsappcontacto{
        grid-area: redeswhatsapp;
    }
    
    .redesContacto nav{
        font-family: Arial, Helvetica, sans-serif;
        list-style: none;
        font-size: large;
        text-align: center;
        align-items: center;
    }
    
    .redesContacto nav a{
        text-decoration: none;
        color: #40611D; 
        font-weight: bold;
        transition: all .5;
        display: inline-block;
        transition: all 0.4s linear;
        border-radius: 20px;
    }
    
    
    .redesContacto nav a:hover {
    background: #C1FA84;
    letter-spacing: 1px;
    }
    
/*----------------------FOOTER------------------------*/


.footerGrid{
    grid-area: footer;
    background: linear-gradient(to top, rgba(34, 28, 24, 0.8) 0%, rgba(7, 6, 6, 0.1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    padding: 1em 0;
    position: absolute;
    width: 100%;

}

.footerGrid p{

    text-align: center;
    font-size: small;
    font-weight: lighter;    

}


/*---------------------MEDIAMOBILEHEADER----------------------*/


@media only screen and (min-width:0px) and (max-width:577px){

    .headerflex{
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    


    .logo{  
        width: 90px;
        height: 90px;
    
    }

    .link-navegacion{
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: large;
        gap:20px;
       
    }
    }

    @media only screen and (min-width:578px) and (max-width:768px){

        .headerflex{
            justify-content: center;
            text-align: center;
            flex-direction: row;
        }
        
    
    
        .logo{  
            width: 90px;
            height: 90px;
        
        }
    
        .link-navegacion{
            font-weight: bold;
            display: flex;
            justify-content: center;
            font-size: large;
            gap:20px;
           
        }
        }   
/*---------------------MEDIAMOBILEINDEX----------------------*/

@media only screen and (min-width:0px) and (max-width:576px){
    #container-grid{
        grid-template-columns: auto;
        grid-template-rows: .5fr .5fr .5fr .2fr auto;
        grid-template-areas: 
        "main"
        "nuestrosServicios"
        "formulario"
        "redes"
        ;
    }

    .mainGrid{
        background-image: url(../imagen/walnut-min.jpg);
        background-repeat: no-repeat;

    }

    .titulonosotros{
        justify-content: center;   
        font-size: 1,1rem;
        margin-top: 250px;
    }
    
    
    .cardnosotros p{
        font-size:x-large;
        font-weight: bold;
        flex-wrap: wrap;
    }
    
    .serviciosGrid{
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "serviciologistica"
        "servicioenvios"
        "servicioasesor" 
        "servicioespecialistas";    
    }

    .imagenlogistica{
        height: 100px;
        width: 100px;
    }
    
    .imagenenvios{
        height: 100px;
        width: 100px;
    }
    
    .imagenasesor{
        height: 100px;
        width: 100px;
    }
    
    .imagenespecialistas{
        height: 100px;
        width: 100px;
    }

    .productosGrid{
        display: none;}

    .tituloproductos {
        display: none;
    }

    .formularioGrid{
        display: flex;
        justify-items: center;
        letter-spacing: 1px;
    }

    .formulario form{
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
     
     }
    .redesGrid{
        align-items: center;
        text-align: center;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "redesinstagram"
        "redesfacebook" 
        "redeswhatsapp";
    
    }
    .imageninstagram{
        width: 20%;
        height: 20%;
        
    }
    
    .imagenfacebook{
        width: 20%;
        height: 20%;
    }
    
    .imagenwhatsapp{
        width: 20%;
        height: 20%;
    }    

}

@media only screen and (min-width:577px) and (max-width:768px){

#container-grid{
    grid-template-columns: auto;
    grid-template-rows: .5fr .5fr 1fr .5fr .2fr auto;
    grid-template-areas: 
    "main"
    "nuestrosServicios"
    "nuestrosProductos"
    "formulario"
    "redes"
    ;
}

.mainGrid{
    background-image: url(../imagen/walnut-min.jpg);
    background-repeat: no-repeat;
}

.titulonosotros{
    color: rgb(0, 0, 0) ; 
    font-weight: bold;
    text-align: center;
    justify-content: center;   
    font-size: 2rem;
    margin-top: 100px;
    }

.serviciosGrid{
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "serviciologistica"
    "servicioenvios"
    "servicioasesor" 
    "servicioespecialistas";    
}

.productosGrid{
    grid-area: nuestrosProductos;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 2ram;
    grid-template-areas: 
    "producto1 producto2" 
    "producto3 producto4"
    "producto5 producto6";
}

}

/*-----------------MEDIAMOBILENUESTRAHISTORIA-------------*/
@media only screen and (min-width:0px) and (max-width:576px){
    .nuestrahistoria {
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-template-areas: 
            "nuestrahistoriaarticle"
            "nuestrahistoriaimagen";
            margin-top: 250px;
            align-items: center;
            justify-content: center;
            text-align: center;
        
        }
        

    .nuestrahistoria__imagen--imagen{
        width: 300px;
        height: 200px;  
        border: solid 2px #40611D;
    }
}





@media only screen and (min-width:577px) and (max-width:768px){
    .nuestrahistoria {
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-template-areas: 
            "nuestrahistoriaarticle"
            "nuestrahistoriaimagen";
            margin-top: 190px;
            align-items: center;
            justify-content: center;
            text-align: center;
            
        }

        .nuestrahistoria__imagen--imagen{
            width: 500px;
            height: 290px;  
            border: solid 2px #40611D;
        }
    }



        /*---------------MEDIAMOBILEPRODUCTOS---------------*/

        @media only screen and (min-width:0px) and (max-width:576px){
            .productosGridpage{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto ;
                background-image: url(../imagen/walnut-min.jpg);
                background-size: cover;
            }

            .productosGrid1{
                margin-top: 250px;
            }
            
            .productosGrid2{
                margin-top: 10px;
            }
            
            .productosGrid3{
                margin-top: 10px;
            }
            
            .productosGrid4{
                margin-top: 10px;
            }
            }


            @media only screen and (min-width:577px) and (max-width:768px){
                .productosGridpage{
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr) ;
                    background-image: url(../imagen/walnut-min.jpg);
                    background-size: cover;
            }
            .productosGrid1{
                margin-top: 100px;
            }
            
            .productosGrid2{
                margin-top: 100px;
            }
            
            .productosGrid3{
                margin-top: 50px;
            }
            
            .productosGrid4{
                margin-top: 50px;
            }

        }
        /*--------------MEDIAMOBILECONTACTO----------------*/

        @media only screen and (min-width:0px) and (max-width:576px){
            .containerGridContacto{
                display: grid;
                grid-template-rows: 1fr .2fr;
                }
                .formularioContacto form{
                    justify-content: center;
                    margin-top: 250px;
                    margin-bottom: 20px;

            }
            .redesContacto{
                grid-template-columns: auto;
                grid-template-rows: auto;
                grid-template-areas: 
                "redesinstagram"
                "redesfacebook"
                "redeswhatsapp";
                align-items: center;
            
            
            }

        }