*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Finlandica', sans-serif;
    position:relative;
    }

html{
    font-size: medium;
}

/*--------------------Inicio-----------------------*/

@media (max-width:478px) {

.imagenconstruccion{
display:none;
}
}


@media (min-width:479px) {
.imagenconstruccionmovil{
    display:none ;
}
}


/*--------------------FOOTER-----------------------*/

.footer p {
    text-align: center;
    font-size: medium;
    font-weight: bold;
}